<a href="https://colab.research.google.com/github/RabiaNoor/DSA/blob/main/20sw114_Lab1_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

task_1

In [1]:
first_name="rabia";
last_name="Noor";
print("Hey I am ",first_name,"my last_name is",last_name)

Hey I am  rabia my last_name is Noor

task_2

In [2]:
my_string = "rabia noor"
length = len(my_string)
print(length);

my_string = "rabia"
lowercase_string = my_string.lower()
print(lowercase_string)


my_string = "rabia noor"
uppercase_string = my_string.upper()
print(uppercase_string);


my_string = "   Hello, World!   "
stripped_string = my_string.strip()
print(stripped_string)




my_string = "Hey How are you ?"
split_string = my_string.split(",")
print(split_string)

10
rabia
RABIA NOOR
Hello, World!
['Hey How are you ?']

task_3

In [ ]:

month = 8
days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

num_days = days_in_month[month - 1]

print(num_days);

task_4

In [ ]:

eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003', 'March 29, 2006', 'August 1, 2008', 'July 22, 2009', 'July 11, 2010', 'November 13, 2012', 'March 20, 2015', 'March 9, 2016']

recent_dates = eclipse_dates[-3:]
print(recent_dates);

task_5

In [3]:


students = {
    "rabia": {
        "age": 18,
        "grade": "12th",
        "subjects": ["Math", "Science", "English"],
        "address": {
            "street": "Bakhtawar Hostel",
            "city": "Jamshoro"
        }
    },
    "noor": {
        "age": 17,
        "grade": "11th",
        "subjects": ["History", "French", "Art"],
        "address": {
            "street": "Bakhtawar Hostel",
            "city": "Jamshoro"
        }
    }
}