<a href="https://colab.research.google.com/github/RabiaNoor/DSA/blob/main/Lab_2_20SW114.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#####Task_1######

points = int(input("Enter valid points: "))

if points >= 1 and points <= 50:
    print("Congratulations! You won the Wooden rabbit")
elif points > 50 and points <= 150:
    print("Oh Dear, No prize!")
elif points > 150 and points <= 180:
    print("Congratulations! You won the Wafer-thin mint")
elif points > 180 and points <= 200:
    print("Congratulations! You won the Penguin")
else:
    print("Invalid input")

Enter valid points: 181
Congratulations! You won the Penguin

In [ ]:
####Task_2######

answer = 114
guess = int(input("Enter your guess: "))
if guess < answer:
    print("OOps, Your guess is too low.")
elif guess > answer:
    print("OOps, Your guess is too high.")
else:
    print("Nice! Your guess matched the answer!")

Enter your guess: 129
OOps, Your guess is too high.

In [1]:

#Task 3
def calculate_tax(amount, state):
    # Define the tax rates for each state
    tax_rates = {
        'CA': 0.075,
        'MN': 0.095,
        'NY': 0.089
    }

    # Check if the state is in the tax_rates dictionary
    if state in tax_rates:
        tax_rate = tax_rates[state]
        tax_amount = amount * tax_rate
        total_amount = amount + tax_amount
        return total_amount
    else:
        print("Invalid state code. Cannot calculate tax.")
        return None

# Test the function
purchase_amount = float(input("Enter the purchase amount: "))
state_code = input("Enter the state code (CA, MN, or NY): ")

total_amount_with_tax = calculate_tax(purchase_amount, state_code)
if total_amount_with_tax is not None:
    print(f"Total amount with tax: ${total_amount_with_tax:.2f}")

Enter the purchase amount: 45
Enter the state code (CA, MN, or NY): CA
Total amount with tax: $48.38

In [ ]:
#Task 4
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the",
"lazy", "dog"]

for element in sentence:
    print(element);

In [ ]:

#Task 5
number_list = list(range(1, 31))


multiples_of_5 = [num for num in number_list if num % 5 == 0 ]

# Display the multiples of 5

print(multiples_of_5);

In [ ]:

#Task 6
names = [ "Nayab Nisaar", "Faiz Nadeem", "Tom and Jerry", "Nimra Ahmed"]
first_names = [name.split()[0].lower() for name in names]
print(first_names)

In [ ]:

#Task 7
multiples_3 = [num * 3 for num in range(1, 21)]
print(multiples_3)

In [ ]:

#Task 8
scores = {
    "Shifa": 70,
    "Sualeha": 35,
    "Nayab": 82,
    "Nisar": 93,
    "Faiz": 98
}

passed = [name if score >= 65 else name + " (Failed)" for name, score in scores.items()]
print(passed);

In [ ]:

#Task 9
cast_names = ["Arbab", "Sheikh", "Rajput", "Memon", "Arain"]
cast_heights = [72, 68, 72, 66, 76]

cast = dict(zip(cast_names, cast_heights))
print(cast)

In [ ]:

#Task10
cast = ["Kamboh", "Sheikh", "Rajput", "Memon", "Arain"]
heights = [72, 68, 72, 66, 76]

for index, name in enumerate(cast):
    cast[index] = name + str(heights[index])

print(cast)

In [ ]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the",
"lazy", "dog"]

for element in sentence:
    print(element);